{{#rev-card
  onsubmit=attrs.onsubmit
  title='Log in to Reverie'
  buttonText='Login'}}
  <div class="mb3">
    {{rev-input
      classNames=''
      type='email'
      label='Username'}}
  </div>
  <div class="mb3">
    {{rev-input
      classNames=''
      type='password'
      label='Password'}}
  </div>
{{/rev-card}}
