{{#rev-card
  onsubmit=attrs.onsubmit
  title='Sign for Reverie'
  buttonText='Sign up'}}
  <div class="mb3">
    {{rev-input
      classNames=''
      type='email'
      label='Username'}}
  </div>
  <div class="mb3">
    {{rev-input
      classNames=''
      type='password'
      label='Password'}}
  </div>
  <div class="mb3">
    {{rev-input
      classNames=''
      type='password'
      label='Confirm Password'}}
  </div>
{{/rev-card}}
