{{#rev-card
  onsubmit=attrs.onsubmit
  title='Sign up for Reverie'
  buttonText='Sign up'
  buttonDisabled=validations.messages.length}}

  <div class="mb3">
    {{rev-input
      value=model.email
      errors=(v-get this 'model.email' 'messages')
      classNames=''
      type='email'
      label='Email'}}
  </div>
  <div class="mb3">
    {{rev-input
      value=model.password
      errors=(v-get this 'model.password' 'messages')
      classNames=''
      type='password'
      label='Password'
      subLabel='Must be between 8-24 characters'}}
  </div>
  <div class="mb3">
    {{rev-input
      value=model.passwordConfirmation
      errors=(v-get this 'model.passwordConfirmation' 'messages')
      classNames=''
      type='password'
      label='Confirm Password'}}
  </div>
{{/rev-card}}
