{{#if title}}
  <span class="db mt0 mb4 f2 fw4 tc black-80 lh-title baskerville">
    {{title}}
  </span>
{{/if}}
<div class="measure center">
  {{yield}}

  {{#if attrs.task}}
    {{#rev-task-button
      isDisabled=buttonDisabled
      task=attrs.task
      text=buttonText}}
    {{/rev-task-button}}
  {{else}}
    {{#if attrs.task}}
      {{#rev-action-button
        isDisabled=buttonDisabled
        action=attrs.action}}
        {{buttonText}}
      {{/rev-action-button}}
    {{/if}}
  {{/if}}
</div>
