<div class="bg-blue-white overflow-hidden">
  <div class="pa3 f5 measure center lh-copy black-80 jos">
    <a href="#about" class="link black-80">
      <h2 id="about" class="mt2 mt3-l mb2 f3 f2-ns fw5 lh-title tc fredericka">About Reverie</h2>
    </a>

    <div class="mt3 mb4">
      <h3 class="mt3 mb2 f4 f3-ns fw7 lh-title">Basics</h3>
      <p class="mt3 mb3">
        Reverie is a web app that is a mix between a journal and a sticker collection.
        You can take notes in your own journal and you can share stickers with others.
        The app is meant to be used at events, so you will also get opportunities to reflect on your day, as well as receive special stickers from the organisers!
        Ultimately, we hope this offers you a cosy corner to preserve your memories.
      </p>
    </div>

    <div class="mt3 mb4">
      <h3 class="mt3 mb2 f4 f3-ns fw7 lh-title">Using Offline</h3>
      <p class="mt3 mb3">
        Reverie can be used offline, without the need to install it from an app store.
        After you have accessed the website initially, it will be stored locally to your device.
        Notes you take are also stored locally, and are in fact not transfered to a server.
        Sending and receiving stickers requires a connection, however.
        <br>
        <br>
        You can also add this app to your home screen, either via Chrome on Android or Safari on iOS.
      </p>
    </div>

    <div class="mt3 mb4">
      <h3 class="mt3 mb2 f4 f3-ns fw7 lh-title">Getting Started</h3>
      <p class="mt3 mb3">
        You can add notes without having to sign up; they are only local to your device, and they are not transfered online in any way (even if you are logged in).
        In order to send and receive stickers, you must first sign up.
        <br>
        <br>
        In the future, there will be a simple import/export feature if you want to back up your data, and a formatted summary of your notes and stickers.
      </p>
    </div>
  </div>
</div>
