<header class="bg-near-white black-80 avenir">
  {{!--  <h1 class="mt4 mb0 f2 f1-ns baskerville i fw1">Reverie</h1>  --}}
  {{!--  <h2 class="mt2 mb0 f6 fw4 ttu tracked">Moments, places, people</h2>  --}}
  <nav class="row between-xs middle-xs bt bb tc mw7 pv3 center">
    <h1 class="col-xs-4 mt0 mb0 f3 f1-ns baskerville i fw1">Reverie</h1>
    <div class="col-xs-8 around-xs">
      {{#link-to "notes" class="link-bg-animate black-80 hover-light-blue col-xs-2 ph4-l"}}
        <svg class="h1 w1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <use xlink:href="#list"></use>
        </svg>
      {{/link-to}}

      {{#link-to "notes.new" class="f6 f5-l link-bg-animate black-80 hover-light-blue col-xs-2 ph4-l"}}
        <svg class="h1 w1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <use xlink:href="#file"></use>
        </svg>
      {{/link-to}}

      {{#link-to "app.stickers" class="f6 f5-l link-bg-animate black-80 hover-light-blue col-xs-2 ph4-l"}}
        <svg class="h1 w1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <use xlink:href="#star"></use>
        </svg>
      {{/link-to}}

      {{#link-to "about" class="f6 f5-l link-bg-animate black-80 hover-light-blue col-xs-2 ph4-l"}}
        <svg class="h1 w1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <use xlink:href="#geolocation"></use>
        </svg>
      {{/link-to}}
  </div>
  </nav>
  {{yield}}
</header>
