<header class="bg-custom-blue white avenir">
  <nav class="row between-xs middle-xs tc pa3 center">
    <h1 class="col-xs-4 col-md-12 mt0 mb0 mb3-l f3 f2-ns f1-l fredericka fw5">Reverie</h1>
    <div class="col-xs-8 col-sm-6 col-md-4 col-md-offset-4">
      <div class="row around-xs center-sm center-md">
        <div class="col-xs-2 ph4-l">
        {{#link-to "notes.index" class="db link-bg-animate blue-white o-70 hover-light-blue"}}
          <svg class="h1 w1 h2-l w2-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <use xlink:href="#list"></use>
          </svg>
        {{/link-to}}
        </div>

        <div class="col-xs-2 ph4-l">
        {{#link-to "notes.new" class="db link-bg-animate blue-white o-70 hover-light-blue"}}
          <svg class="h1 w1 h2-l w2-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <use xlink:href="#file"></use>
          </svg>
        {{/link-to}}
        </div>

        <div class="col-xs-2 ph4-l">
        {{#link-to "app.stickers.index" class="db link-bg-animate blue-white o-70 hover-light-blue"}}
          <svg class="h1 w1 h2-l w2-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <use xlink:href="#star"></use>
          </svg>
        {{/link-to}}
        </div>

        <div class="col-xs-2 ph4-l">
        {{#link-to "app.stickers.send" class="db link-bg-animate blue-white o-70 hover-light-blue"}}
          <svg class="h1 w1 h2-l w2-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <use xlink:href="#geolocation"></use>
          </svg>
        {{/link-to}}
        </div>
      </div>
    </div>
  </nav>
  {{!--  <div class="f6 pa2 bg-light-red w-100 tc near-white">  --}}
    {{!--  You are offline, so you cannot send stickers :(  --}}
  {{!--  </div>  --}}
  {{yield}}
</header>
