/* Fonts */
.jos {
  font-family: 'Josefin Slab', serif;
}
.cabin {
  font-family: 'Cabin Sketch', cursive;
}

/* Colors */
.hover-b--light-blue:hover {
  border-color: #96ccff;
}
.hover-b--light-blue:focus {
  border-color: #96ccff;
}
.custom-blue {
  color: #6386a8;
}
.custom-gray {
  color: #adb3b9;
}
.blue-white {
  color: #f0f7ff;
}
.bg-custom-blue {
  background-color: #6386a8;
}
.bg-custom-gray {
  background-color: #adb3b9;
}

.active{
  opacity: 1;
  color: #fff;
}


/* Loading Screen */
.hourglass{
    display:block;
    background:#fff;
    width:2em;
    height:4em;
    box-shadow:
        inset #fff 0 0 0 0,
        inset #96ccff 0 2em 0 0,
        inset #fff 0 0 4em 0;
    animation:hourglass 1s linear infinite;
}

.outer{
    fill:#96ccff;
}

.middle{
    fill:#fff;
}

@keyframes hourglass{
    0%{
        transform:rotate(0deg);
        box-shadow:
            inset #fff 0 0 0 0,
            inset #96ccff 0 2em 0 0,
            inset #fff 0 4em 0 0,
            inset #96ccff 0 4em 0 0;
    }
    80%{
        transform:rotate(0deg);
        box-shadow:
            inset #fff 0 2em 0 0,
            inset #96ccff 0 2em 0 0,
            inset #fff 0 2em 0 0,
            inset #96ccff 0 4em 0 0;
    }
    100%{
        transform:rotate(180deg);
        box-shadow:
            inset #fff 0 2em 0 0,
            inset #96ccff 0 2em 0 0,
            inset #fff 0 2em 0 0,
            inset #96ccff 0 4em 0 0;
    }
}

/* Ember-Notify */
.ember-notify {
  background-color: rgba(255, 255, 255, 0.9);
}
.ember-notify-default .ember-notify {
  border: none;
  padding: 1rem;
}
.ember-notify-default .info {
  background-color: rgb(150, 204, 255);
}
.ember-notify-default .success {
  background-color: #578F88;
}
.ember-notify-default .error {
  background-color: #B05746;
}

/* Transitions*/
.link-bg-animate {
  text-decoration: none;
  -webkit-transition: color .15s ease-in, background-color .15s ease-in-out;
  transition: color .15s ease-in, background-color .15s ease-in-out;
}
.link-bg-animate:link, .link-bg-animate:visited {
  -webkit-transition: color .15s ease-in, background-color .15s ease-in-out;
  transition: color .15s ease-in, background-color .15s ease-in-out;
}
.link-bg-animate:hover {
  -webkit-transition: color .15s ease-in, background-color .15s ease-in-out;
  transition: color .15s ease-in, background-color .15s ease-in-out;
}
.link-bg-animate:active {
  -webkit-transition: color .15s ease-in, background-color .15s ease-in-out;
  transition: color .15s ease-in, background-color .15s ease-in-out;
}
.link-bg-animate:focus {
  -webkit-transition: color .15s ease-in, background-color .15s ease-in-out;
  transition: color .15s ease-in, background-color .15s ease-in-out;
  outline: 1px dotted currentColor;
}
