.ember-notify {
  background-color: rgba(255, 255, 255, 0.9);
}

.ember-notify-default .ember-notify {
  border: none;
  padding: 1rem;
}

.ember-notify-default .info {
  background-color: rgb(150, 204, 255);
}
.ember-notify-default .success {
  background-color: #578F88;
}
.ember-notify-default .error {
  background-color: #B05746;
}

.hover-b--light-blue:hover {
  border-color: #96ccff;
}

.hover-b--light-blue:focus {
  border-color: #96ccff;
}
