.ember-notify {
  background-color: rgba(255, 255, 255, 0.9);
}

.ember-notify-default .ember-notify {
  border: none;
  padding: 1rem;
}

.ember-notify-default .info {
  background-color: rgb(150, 204, 255);
}
.ember-notify-default .success {
  background-color: #578F88;
}
.ember-notify-default .error {
  background-color: #B05746;
}

.hover-b--light-blue:hover {
  border-color: #96ccff;
}

.hover-b--light-blue:focus {
  border-color: #96ccff;
}

.link-bg-animate {
  text-decoration: none;
  -webkit-transition: color .15s ease-in, background-color .15s ease-in-out;
  transition: color .15s ease-in, background-color .15s ease-in-out;
}
.link-bg-animate:link, .link-bg-animate:visited {
  -webkit-transition: color .15s ease-in, background-color .15s ease-in-out;
  transition: color .15s ease-in, background-color .15s ease-in-out;
}
.link-bg-animate:hover {
  -webkit-transition: color .15s ease-in, background-color .15s ease-in-out;
  transition: color .15s ease-in, background-color .15s ease-in-out;
}
.link-bg-animate:active {
  -webkit-transition: color .15s ease-in, background-color .15s ease-in-out;
  transition: color .15s ease-in, background-color .15s ease-in-out;
}
.link-bg-animate:focus {
  -webkit-transition: color .15s ease-in, background-color .15s ease-in-out;
  transition: color .15s ease-in, background-color .15s ease-in-out;
  outline: 1px dotted currentColor;
}
