<div class="mb4">
  {{#rev-card
    title='Your Stickers'}}

    <div class="row around-xs">
      {{#each stickers as |sticker|}}
        <div class="col-xs-6 col-sm-4 col-md-3 mb3">
        {{#rev-sticker
          sticker=sticker}}
        {{/rev-sticker}}
        </div>
      {{/each}}
    </div>
    {{#if isLoadingStickers}}
    <div class="row center-xs">
      {{rev-loading}}
    </div>
    {{else}}
      {{#unless stickers}}
        <div class="col-xs-12 mb3">
        <p class="mt0 f5 jos measure tc">You have not received any stickers yet :(</p>
        </div>
      {{/unless}}
    {{/if}}
  {{/rev-card}}
</div>
