<div class="">
  {{#rev-card
    buttonText='Logout'
    onsubmit=(route-action 'doLogout')
    title='Welcome to Reverie!'

    {{#user-info as |user|}}
      Thanks for logging in <b>{{user.email}}</b>
    {{/user-info}}
  }}

  {{/rev-card}}
</div>
