<h2 class="mt0 mb3 f2 fw4 lh-title tc black-80 baskerville">About the App</h2>
<div class="lh-copy measure center">
  <p>
    Reverie is a web app that bla bla
    Reverie works offline! After you have loaded the site initially, you can take notes immediately and access them when you come back.
    If you sign up and log in, you can sync your notes to our online service. Notes taken whilst offline will be synchronised once connectivity is restored.
    <br>
    <br>
    You can also opt to add Reverie to your smarphone's home page, both via Safari and Chrome.
  </p>
</div>
<div class="tc">
  <h3 class="mt4 mb3 f3 fw4 lh-title black-80 baskerville">Sounds good?</h3>
  {{#link-to 'notes' class="dib mr3 f5 pa3 link bw1 ba bg-animate b--light-blue hover-bg-light-blue black-80 hover-white"}}
  Add note
  {{/link-to}}
  {{#link-to 'notes' class="dib f5 pa3 link bw1 ba bg-animate b--light-blue hover-bg-light-blue black-80 hover-white"}}
  Sign up
  {{/link-to}}
</div>
