<div class="pa3 pv4 bg-blue white tc">
  <h1 class="f1 mt0 tracked ttu sans-serif">Reverie</h1> 
  <div class="f4 flex content-center justify-center flex-row-ns">
    {{#link-to "notes" class="f4 dim link bw1 bb white"}}Notes{{/link-to}}
  </div>
</div>
<div class="mw6-ns pa3 center">
  {{outlet}}
</div>

