<header class="bg-white black-80 tc pv4 avenir">
  <h1 class="mt2 mb0 baskerville i fw1 f1">Reverie</h1>
  <h2 class="mt2 mb0 f6 fw4 ttu tracked">Moments, places, people</h2>
  <nav class="bt bb tc mw7 center mt4">
    {{#link-to "notes" class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l"}}Notes{{/link-to}}
    {{#link-to "notes.new" class="f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l"}}Add Note{{/link-to}}
    {{#link-to "about" class="f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l"}}About{{/link-to}}
    {{!-- <a class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="/stickers">Stickers</a> <a class="f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l" href="/about">About</a> --}}
    {{!-- <a class="f6 f5-l link bg-animate black-80 hover-bg-light-green dib pa3 ph4-l" href="/login">Log in</a> --}}
  </nav>
</header>
<div class="mw7-ns pa3 lh-copy black-80 center avenir">
  {{outlet}}
</div>
